<div class= "row">
            <div class="col-lg-6">
                <div><%= image_tag('logo.png') %></div>
            </div>
            <div class="col-lg-6">
                <div class="logouttext">
                    <a href="<%= destroy_user_session_path %>" data-method="delete">
                    Logout <i class="fa fa-sign-out"></i>
                    </a>
                </div>

            </div>
</div>
        <div class="">
            
                <div class="text-center headtext">
                    <h4>EOI Questionaire</h4>
                </div>
                <div class="deviderline"></div>

                <div>
                    <h5>1. Submit PnL and Balance sheet along with schedules for the past 3 FY</h5>

                    <div class="row" style= "margin-left: 10px;">
                        <div class="col-lg-6">
                            <div>
                                <label for="">A. Balance Sheet for FY 18-19 along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                        
                                 <input type="file" style="font-size: 12px" class="file_upload form-control" /> 
                                <input type="hidden" name="balance_sheet18_19" class="form-control inputtextrequired-fields"  placeholder="No File Choosen" >
                                <span class= "file_name">
                                </span>
                        </div>
                        
                    </div>

                    <div class="row" style="margin-left: 10px;margin-top: 20px";>
                        <div class="col-lg-6 ">
                            <div>
                                <label for="">B. Balance Sheet for FY 19-20 along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "balance_sheet19_20" class="form-control inputtext required-fields" placeholder="No File Choosen" >
                                </span>
                        </div>
                        
                    </div>

                    <div class="row" style="margin-top: 20px;margin-left: 10px";>
                        <div class="col-lg-6">
                            <div>
                                <label for="">C. Balance Sheet for FY 20-21 along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "balance_sheet20_21" class="form-control inputtext required-fields" placeholder="No File Choosen">
                                <span class= "file_name">
                                </span>
                        </div>     
                    </div>

                    <div class="row" style="margin-top: 20px;margin-left: 10px";>
                        <div class="col-lg-6">
                            <div>
                                <label for="">D. Balance Sheet for Current FY (Half yearly / 9 monthly / Quaterly) along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                        
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "balance_sheet_current" class="form-control inputtext required-fields" namplaceholder="No File Choosen">
                                <span class= "file_name">
                                </span>
                        </div>
                       
                    </div>

                    <div class="row" style="margin-top: 20px;margin-left: 10px";>
                        <div class="col-lg-6">
                            <div>
                                <label for="">E. Profit and Loss Statement for FY 18-19 along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "profit_loss18_19" class="form-control inputtext required-fields" placeholder="No File Choosen">
                                <span class= "file_name">
                                </span>
                        </div>
                       
                    </div>

                    <div class="row" style="margin-top: 20px;margin-left: 10px";>
                        <div class="col-lg-6">
                            <div>
                                <label for="">F. Profit and Loss Statement for FY 19-20 along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                        
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "profit_loss19_20" class="form-control inputtext required-fields" placeholder="No File Choosen">
                                <span class= "file_name">
                                </span>
                        </div>
                        
                    </div>

                    <div class="row" style="margin-top: 20px;margin-left: 10px";>
                        <div class="col-lg-6">
                            <div>
                                <label for="">G. Profit and Loss Statement for FY 20-21 along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "profit_loss20_21" class="form-control inputtext required-fields" placeholder="No File Choosen">
                                <span class= "file_name">
                                </span>
                        </div>
                        
                    </div>

                    <div class="row" style="margin-top: 20px;margin-left: 10px";>
                        <div class="col-lg-6">
                            <div>
                                <label for="">H. Profit and Loss Statement  for Current FY (Half yearly / 9 monthly / Quarterly) along with schedules</label>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            
                                <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                <input type="hidden" name= "profit_loss_current" class="form-control inputtext required-fields" placeholder="No File Choosen">
                                <span class= "file_name">
                                </span>
                        </div>
                        
                    </div>

                </div>

                <div class= "row" style="margin-top: 10px;">
                    <h5>2. Credit Rating</h5>
                    <a href="javascript:;" class ="addNewTag" data-target= "credit-rating-row" data-target-parent= "parent-credit-rating-row" >Add Option</a>
                </div>
                <div class="parent-credit-rating-row" style="margin-top: 10px;">
                   
                    <div class="row col-lg-12 credit-rating-row" style="margin-top: 10px;">
                        <div class="col-lg-4">
                            <div>
                                <label for="">Rating Agency Name</label>
                            </div>
                            <div>
                                <input type="text" name="ratingagencyname[1]" id="ratingagencyname" data-name="ratingagencyname" class="form-control inputtext  required required-fields" >
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div>
                                <label for="">Credit Ratings</label>
                                
                            </div>
                            <div>
                                <input type="text" name="creaditratings[1]" id="creaditratings" data-name="creaditratings" class="form-control inputtext required required-fields" >
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div>
                                <label for="">Upload Document</label>
                            </div>
                            
                                <div class="col-lg-12">
                                    <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                    <input type="hidden" class="form-control inputtext  required-fields", name="creditratingfile[1]" data-name= "creditratingfile">
                                    <span class= "file_name">
                                    </span>
                                </div>
                              
                        </div>
                        <div class="col-lg-1 add-container">
                            <div>    
                                <label for= ""> </label>
                            </div>
                            
                            <a href="javascript:;" class ="remove">Remove</a>
                        </div>
                    </div>

                </div> 

                <div class="row" style="margin-top: 10px;" >
                    <h5>3. Banking Facilities</h5>
                    <a href="javascript:;" class ="addNewTag" data-target= "banking-facilities-row" data-target-parent= "parent-banking-facilities-row">Add Option</a>
                </div>
                <div style="margin-top: 10px;" class= "parent-banking-facilities-row">
                    <div class="row col-lg-12 banking-facilities-row"  style="margin-top: 10px;">
                        <div class="col-lg-4">
                            <div>
                                 <label for="">Name of the Bank</label>
                            </div>
                            <div>
                                <input type="text" name="bankname[1]" id="bankname" data-name= "bankname" class="form-control inputtext required required-fields" >
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div>
                                <label for="">Facilities availed from the bank</label>
                            </div>
                            <div>
                       
                               
                                 <select name="bankfacilities[1]" id="bankfacilities" data-name= "bankfacilities" 
                                 class="form-select required-fields" >
                                   <option value=""></option>
                                    <option value="LC">Lc</option>
                                    <option value="BG">BG</option>
                                    <option value="OG">OG</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Receivable Discounting">Receivable Discounting</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div>
                                <label for="">Limit(In Cr.)</label>
                            </div>
                            <div>
                                <input type="number" name="limit[1]" id="limit" data-name= "limit" class="form-control inputtext required required-fields">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div>
                                <label for=""> </label>
                            </div>
                            <a href="javascript:;" class ="remove">Remove</a>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;" >
                    <h5>4. Sales Organogram</h5>
                </div>
                
                    <div class="row" style="margin-top: 10px;margin-left: 10px";>
                        <h6>A . Location of Offices : SPOC for each location</h6>
                         <a href="javascript:;" class ="addNewTag" data-target= "location-office-row" data-target-parent= "parent-location-office-row">Add Option</a>
                    </div>
                   
                    <div class="row col-lg-10 parent-location-office-row" style="margin-top: 10px;margin-left: 10px">
                        <div class="row col-lg-12 location-office-row"  style="margin-top: 10px;">
                            <div class="col-lg-5">
                                <div>
                                    <label for="">Name of location</label>
                                </div>
                                <div>
                                <input type="text" name="locationname[1]" id="locationname" data-name= "locationname" class="form-control inputtext required required-fields">
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div>
                                <label for="">SPOC Name</label>
                                 </div>
                                <div>
                                    <input type="text" name="locspocname[1]" id="locspocname" data-name= "locspocname" class="form-control inputtext required required-fields">
                                </div>
                            </div>
                            <div class="col-lg-2" style= "margin-top: 10px;">
                                <div>
                                    <label for=""> </label>
                                </div>
                                    <a href="javascript:;" class ="remove">remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        
                
                    <div class="row" style=" margin-left: 10px";>
                        <h6>B. Technical Support Team availability</h6>
                        <a href="javascript:;" class ="addNewTag" data-target= "technical-support-row" data-target-parent= "parent-technical-support-row">Add Option</a>
                    </div>
                    <div class=" row parent-technical-support-row" style="margin-top: 10px;margin-left: 10px";>
                        <div class="row technical-support-row" style="margin-top: 10px;">
                            <div class="col-lg-4">
                                <div>
                                    <label for="">Name of location</label>
                                </div>
                                <div>
                                    <input type="text" name="tecnameofloc[1]" id="tecnameofloc" data-name= "tecnameofloc" class="form-control inputtext required required-fields" name="">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div>
                                    <label for="">SPOC Name</label>
                                </div>
                                <div>
                                    <input type="text" name="tecspocname[1]" id="tecspocname" data-name= "tecspocname" class="form-control inputtext required required-fields" >
                                </div>
                            </div>
                        
                            <div class="col-lg-2" style= "margin-top: 10px;">
                                <div>
                                    <label for=""> </label>
                                </div>
                                    <a href="javascript:;" class ="remove">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style=" margin-left: 90px";>
                        <h6>C.Sales team Details</h6>
                        <a href="javascript:;" class ="addNewTag" data-target= "sales-team-row" data-target-parent= "parent-sales-team-row">Add Option</a>
                    </div>
                        <div class=" row parent-sales-team-row" style="margin-top: 10px;margin-left: 90px";>
                            <div class="row sales-team-row" style="margin-top: 10px;">
                                <div class="col-lg-3">
                                    <div>
                                        <label for="">Name of the sales person</label>
                                    </div>
                                    <div>
                                        <input type="text" name="salesteamdetails[1]" id="salesteamdetails"  data-name= "salesteamdetails" class="form-control inputtext required required-fields">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div>
                                        <label for="">Designation</label>
                                    </div>
                                    <div>
                                        <input type="text" name="salesdesignation[1]" id="salesdesignation" data-name= "salesdesignation" class="form-control inputtext required required-fields" >
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div>
                                        <label for="">Total experience(In Months)</label>
                                    </div>
                                    <div>
                                        <input type="number" name="salesdexpe[1]" id="salesdexpe" data-name= "salesdexpe" class="form-control inputtext required required-fields" >
                                    </div>
                                </div>
                        
                                <div class="col-lg-2" style= "margin-top: 10px;">
                                    <div>
                                        <label for=""> </label>
                                    </div>
                                        <a href="javascript:;" class ="remove">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style=" margin-left: 90px";>
                            <h6>D. Market Analysis Team</h6>
                            <a href="javascript:;" class ="addNewTag" data-target= "market-analysis-row" data-target-parent= "parent-market-analysis-row">Add Option</a>
                        </div>
                        <div class=" row parent-market-analysis-row" style="margin-top: 10px;margin-left: 90px";>
                            <div class="row market-analysis-row" style="margin-top: 10px;">
                                <div class="col-lg-3">
                                    <div>
                                        <label for="">Name of the person</label>
                                    </div>
                                    <div>
                                        <input type="text" name="marketpername[1]" id="marketpername" data-name= "marketpername" class="form-control inputtext required required-fields" >
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div>
                                        <label for="">Designation</label>
                                    </div>
                                    <div>
                                        <input type="text" name="marketdesignation[1]" id="marketdesignation" data-name= "marketdesignation" class="form-control inputtext required required-fields" >
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div>
                                        <label for="">Total experience(In Months)</label>
                                    </div>
                                    <div>
                                        <input type="number" name="marketexp[1]" id="marketexp" data-name= "marketexp" class="form-control inputtext required required-fields">
                                    </div>
                                </div>
                     
                                <div class="col-lg-2" style= "margin-top: 10px;">
                                    <div>
                                        <label for=""> </label>
                                    </div>
                                        <a href="javascript:;" class ="remove">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"  style= "margin-left: 90px";>
                            <div>
                                <h6>E. Ready to share market analysis on monthly / quaterly basis</h6>
                                
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="radio" name="marketpersonname"  class=" required required-fields" value="yes" onclick="myFunction('myDIV7')"> Yes
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" name="marketpersonname"  class="required required-fields" value="no" onclick="myFunction2('myDIV7')"> No
                                    </div>
                                </div>
                            </div>

                            <div class=" row parent-sharemarket-analysis-row" >
                                <div class="row sharemarket-analysis-row" >
                                    <div id="myDIV7" class= "row" style="display: none;">   
                                        <div class="row col-lg-10" >
                                        <a href="javascript:;" class ="addNewTag" data-target= "sharemarket-analysis-row" data-target-parent= "parent-sharemarket-analysis-row">Add Option</a>
                                            <div class="col-lg-4">
                                            
                                                <label for="">Name of the person</label>
                                                <div>
                                                    <input type="text" class="form-control inputtext required-fields" name= "marketpersonname[1]" data-name="marketpersonname" id= "marketpersonname" name="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for= ""> </label>
                                                        <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                                        <input type="hidden" name="file2[1]" data-name= "file2" class="form-control inputtext  required-fields" id= "file2" name="" placeholder="No File Choosen">
                                                        <span class= "file_name">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2" style= "margin-top: 10px;">
                                                    <div>
                                                        <label for=""> </label>
                                                    </div>
                                                        <a href="javascript:;" class ="remove">Remove</a>
                                                    </div>
                                                </div>  
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>  
                   

                            <div class="row" style="margin-top: 20px;margin-left: 90px";>
                                 <h6>F. Account Managers if available</h6>
                                <a href="javascript:;" class ="addNewTag" data-target= "account-manager-row" data-target-parent= "parent-account-manager-row">Add Option</a>
                            </div>
                            <div class=" row parent-account-manager-row" style="margin-top: 10px;margin-left: 90px";>
                                <div class="row account-manager-row" style="margin-top: 10px;">
                                    <div class="col-lg-2">
                                        <div>
                                            <label for="">Name of the person</label>
                                        </div>
                                        <div>
                                            <input type="text" name="accpersonmame[1]" id="accpersonmame" data-name= "accpersonmame" class="form-control inputtext required required-fields">
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div>
                                            <label for="">Product Name</label>
                                        </div>
                                        <div>
                                            <input type="text" name="accprodmame[1]" id="accprodmame" data-name= "accprodmame" class="form-control inputtext required  required-fields">
                                        </div>
                                    </div>

                                    <div class="col-lg-5">
                                        <div>
                                            <label for="">Total experience of handling the product(In Months)</label>
                                        </div>
                                        <div>
                                            <input type="number" name="accexp[1]" id="accexp" data-name="accexp" class="form-control inputtext required required-fields">
                                        </div>
                                    </div>
                                    <div class="col-lg-2" style= "margin-top: 10px;">
                                        <div>
                                            <label for=""> </label>
                                        </div>
                                            <a href="javascript:;" class ="remove">Remove</a>
                                    </div>
                                </div>
                            </div>


                
                            <div class="row" style="margin-top: 10px;margin-left: 90px;">
                                    <h5>5. Sales Data to be provided in the below format (Upload Excel File)</h5>
                                <div class="row " style="margin-top: 10px;">
                                    <div class="col-lg-4">
                                        <div>
                                            <label for= ""> Upload Document</label>
                                        </div>
                                        <div>
                                            <input type="file" style="font-size: 12px" class="file_upload form-control" />
                                            <input type="hidden" name="file1" class="form-control inputtext  required-fields" placeholder="No File Choosen">
                                            <span class= "file_name">
                                            </span>
                                        </div>
                                    </div>
                               
                                    <div class="col-lg-4">
                                        <div>
                                            <label for=""></label>
                                        </div>
                                        <div>
                                            <a href="<%= home_download_excel_url %>" class="btn btn-sm btn-primary" >
                                            Downlad Sample Excel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                

                            <div class="row" style="margin-top: 20px;margin-left:90px;">
                                <div class="col-lg-4">
                                    <h5>6. Customer Service Toll free number available</h5>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input name="custservice" value="yes" type="radio" class="required required-fields" > Yes
                                        </div>
                                        <div class="col-lg-2">
                                            <input name="custservice" value="no" type="radio"  class="required required-fields"> No
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row" style="margin-top: 10px;margin-left:90px;">
                                    <div class="col-lg-4">
                                        <h5>7. Number of Tankers Owned</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number" name="tankersownedno" id="tankersownedno" class="form-control inputtext  required-fields" placeholder="">
                                    </div>
                                </div>


                                <div class="row" style="margin-top: 10px;margin-left:90px;">
                                    <div class="col-lg-4">
                                         <h5>8.Contracted  tankers availability</h5>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input type="radio" name="newradio1"  class="required required-fields" value="yes" onclick="myFunction('myDIV')"> Yes
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" name="newradio1"   class="required required-fields" value="no" onclick="myFunction2('myDIV')"> No
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class=" row parent-contracted-tankers-row" >
                                        <div class="row contracted-tankers-row" >
                                            <div id="myDIV" class="row" style="display:none" >
                                                <div class="row col-lg-12" style="margin-top: 10px;">
                                                    <a href="javascript:;" class ="addNewTag" data-target= "contracted-tankers-row" data-target-parent= "parent-contracted-tankers-row">Add Option</a>
                                                        <div class="col-lg-3">
                                                            <div>
                                                                <label for="">Number of tankers</label>
                                                            </div>
                                                            <div>
                                                                <input type="number" name="connotankers[1]" id="connotankers" dataa-name="connotankers" class="form-control inputtext  required-fields">
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-3">
                                                            <div>
                                                                <label for="">Capacity in kL</label>
                                                            </div>
                                                            <div>
                                                                <input type="number" name="concapacitykl[1]" id="concapacitykl" data-name="concapacitykl" class="form-control inputtext  required-fields">
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-3">
                                                            <div>
                                                                <label for="">Duration of the contract(In Months)</label>
                                                            </div>
                                                            <div>
                                                                <input type="number" name="conduracontact[1]" id="conduracontact" data-name="conduracontact" class="form-control inputtext  required-fields">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div>
                                                                <label for=""> </label>
                                                            </div>
                                                                <a href="javascript:;" class ="remove">Remove</a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                

                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-4">
                                            <h5>9. Average age of tankers deployed(In Months)</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="number" name="averageage" id="averageage" class="form-control inputtext required required-fields"  placeholder="">
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-4">
                                            <h5>10. Percentage of tankers deployed which conform to Suraksha Certificate
                                            norms</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="number" name="peroftankers" id="peroftankers" class="form-control inputtext required required-fields"  placeholder="">
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-4">
                                            <h5>11. Average lead time to arrange tankers for placement at Dahej(In Days)</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="number" name="avgoftankers" id="avgoftankers" class="form-control inputtext required required-fields"  placeholder="">
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-4">
                                            <h5>12. Access to SS / Single Compartment Coiled and Jacketed tankers</h5>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input name="accesstoss" value="yes" type="radio"  class="required required-fields"> Yes
                                                </div>
                                                <div class="col-lg-2">
                                                    <input name="accesstoss" value="no" type="radio"  class="required required-fields"> No
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-4">
                                            <h5>13. Access to product tanks in locations close to customers</h5>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input name="accesstank" value="yes" type="radio"  class="required required-fields" onclick="myFunction('myDIV1')"> Yes
                                                </div>
                                                <div  class="col-lg-2">
                                                    <input name="accesstank" value="no" type="radio"  class="required required-fields" onclick="myFunction2('myDIV1')"> No
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" row parent-access-product-row" >
                                            <div class="row access-product-row" >
                                                <div id="myDIV1" class="row" style="display: none;">
                                                    <div class="row col-lg-12">
                                                        <a href="javascript:;" class ="addNewTag" data-target= "access-product-row" data-target-parent= "parent-access-product-row">Add Option</a>
                                                        <div class="col-lg-3">
                                                            <div>
                                                                <label for="">Location of Tanker</label>
                                                            </div>
                                                            <div>
                                                                <input type="text" name="tankerlocation[1]" id="tankerlocation" data-name="tankerlocation" class="form-control inputtext  required-fields" >
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-3">
                                                            <div>
                                                                <label for="">Product Name</label>
                                                            </div>
                                                            <div>
                                                                <input type="text" name="tankerprodname[1]" id="tankerprodname" data-name="tankerprodname" class="form-control inputtext  required-fields" >
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-3">
                                                            <div>
                                                                <label for="">Capacity(In KL)</label>
                                                            </div>
                                                            <div>
                                                                <input type="number" name="tankercapacity[1]" id="tankercapacity" data-name="tankercapacity" class="form-control inputtext   required-fields" >
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-lg-2">
                                                            <div>
                                                                <label for=""> </label>
                                                            </div>
                                                                <a href="javascript:;" class ="remove">Remove</a>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                


                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-lg-4">
                                                <h5>14. Access to drumming facility</h5>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input name="accessdrumming" value="yes"  class="required required-fields" type="radio" onclick="myFunction('myDIV2')"> Yes
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input name="accessdrumming" value="no"  class="required required-fields" type="radio" onclick="myFunction2('myDIV2')"> No
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class=" row parent-access-drumming-row" >
                                                <div class="row access-drumming-row" >
                                                    <div id="myDIV2" class= "row" style="display: none;">
                                                        <div class="row col-lg-10">
                                                            <a href="javascript:;" class ="addNewTag" data-target= "access-drumming-row" data-target-parent= "parent-access-drumming-row">Add Option</a>
                                                                <div class="col-lg-4">
                                                                    <div>
                                                                        <label for="">Location of drumming facility</label>
                                                                    </div>
                                                                    <div>
                                                                        <input type="text" name="locdrumming[1]" id="locdrumming" data-name="locdrumming" class="form-control inputtext  required-fields " >
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div>
                                                                        <label for="">Owned / Third Party</label>
                                                                    </div>
                                                                        <div>
                                                                            <select name="ownedthird[1]" id="ownedthird" data-name= "ownedthird" class="form-select inputtext  required-fields">
                                                                            <option value=""></option>
                                                                            <option value="Owned">Owned</option>
                                                                            <option value="Third">Third</option>
                                                                            </select>
                                                                        </div>
                                                                </div>
                                                                <div class= "col lg-2">
                                                                    <div>
                                                                        <label for=""> </label>
                                                                    </div>
                                                                    <a href="javascript:;" class ="remove">Remove</a>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                

                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-lg-4">
                                                    <h5>15. Warehouses available</h5>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input name="wareavailable" value="yes"  class="required required-fields" type="radio" onclick="myFunction('myDIV3')"> Yes
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input name="wareavailable" value="no"  class="required required-fields" type="radio" onclick="myFunction2('myDIV3')"> No
                                                        </div>
                                                </div>
                  
    
                                                <div class=" row parent-warehouse-row" >
                                                    <div class="row warehouse-row" >
                                                        <div id="myDIV3" class= "row" style="display: none;">
                                                            <div class="row col-lg-12">
                                                                <a href="javascript:;" class ="addNewTag" data-target= "warehouse-row" data-target-parent= "parent-warehouse-row">Add Option</a>
                                                                    <div class="col-lg-3">
                                                                        <div>
                                                                            <label for="">Location</label>
                                                                        </div>
                                                                        <div>
                                                                            <input type="text" name="warehoselocation[1]" id="warehoselocation" data-name="warehoselocation" class="form-control inputtext required-fields">
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="col-lg-3">
                                                                        <div>
                                                                            <label for="">Warehouse Area in Sq Ft</label>
                                                                        </div>
                                                                        <div>
                                                                            <input type="number" name="warehosearea[1]" id="warehosearea" data-name= "warehosearea" class="form-control inputtext required-fields">
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="col-lg-3">
                                                                        <div>
                                                                            <label for="">Owned / Third Party</label>
                                                                        </div>
                                                                        <div>
                                                                            <select name="warehoseownedthird[1]" id="warehoseownedthird" data-name= "warehoseownedthird" class="form-select inputtext  required-fields">
                                                                                <option value=""></option>
                                                                                <option value="Owned">Owned</option>
                                                                                <option value="Third">Third</option>
                                                                            </select>
                                                                        </div>
                                                                    </div> 
                                                                    <div class= "col-lg-2">  
                                                                        <div>
                                                                            <label for=""> </label>
                                                                        </div>
                                                                        <a href="javascript:;" class ="remove">Remove</a>
                                                                    </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                
                                                <div class="row">
                                                    <div class="col-lg-4" style="margin-top: 10px;">
                                                        <h5>16. Willingness to share GPS and API of every tanker</h5>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <input name="willshare" value="yes"  class="required required-fields" type="radio" onclick="myFunction('myDIV4')"> Yes
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <input  name="willshare" value="no"   class="required required-fields" type="radio" onclick="myFunction2('myDIV4')"> No
                                                            </div>
                                                        </div>
                                                    </div>
                                                        
                                                    <div class=" row parent-willingness-row" >
                                                        <div class="row willingness-row" >
                                                            <div id="myDIV4" class= "row" style="display: none;">
                                                                <div class="row col-lg-10">
                                                                    
                                                                        <div class="col-lg-8">
                                                                        <a href="javascript:;" class ="addNewTag" data-target= "willingness-row" data-target-parent= "parent-willingness-row">Add Option</a>
                                                                            <div>
                                                                                <label for="">Name of GPS / API service provider</label>
                                                                            </div>
                                                                            <div>
                                                                                <input type="text" name="willname[1]" id="willname" data-name= "willname"  class="form-control inputtext  required-fields">
                                                                            </div> 
                                                                        </div>
                                                                        <div class= "col-lg-2">
                                                                            <div>
                                                                                <label for=""> </label>
                                                                            </div>
                                                                            <a href="javascript:;" class ="remove">Remove</a>
                                                                        </div>  
                                                                </div>            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-lg-4" style="margin-top: 10px;">
                                                        <h5>17. Willingness for door delivery</h5l>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <input name="willdoor" value="yes"  class="required required-fields" type="radio"> Yes
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <input name="willdoor" value="no"  class="required required-fields" type="radio"> No
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                    
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-lg-4">
                                                        <h5>18. Availability of IT systems (ERP, CRM, Accounting etc)</h5>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <input name="avaiIT" value="yes"  class="required required-fields" type="radio" onclick="myFunction('myDIV5')"> Yes
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <input name="avaiIT" value="no"  class="required required-fields" type="radio" onclick="myFunction2('myDIV5')"> No
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class=" row parent-availability-row" >
                                                        <div class="row availability-row" >
                                                            <div id="myDIV5" class="row" style="display: none;">
                                                                <div class="row col-lg-10">
                                                                    <a href="javascript:;" class ="addNewTag" data-target= "availability-row" data-target-parent= "parent-availability-row"> Add Option</a>
                                                                        <div class="col-lg-4">
                                                                            <div>
                                                                                <label for="">Name of the system available</label>
                                                                            </div>
                                                                            <div>
                                                                                <input type="text" name="availITname[1]" id="availITname" data-name="availITname" class="form-control inputtext  required-fields" >
                                                                            </div>
                                                                        </div>
    
                                                                        <div class="col-lg-4">
                                                                            <div>
                                                                                <label for="">Years in operation(In Months)</label>
                                                                            </div>
                                                                            <div>
                                                                                <input type="number" name="availyears[1]" id="availyears" data-name="availyears" class="form-control inputtext  required-fields" >
                                                                            </div>
                                                                        </div>
                     
                                                                        <div class="col-lg-2 ">
                                                                            <div>
                                                                                <label for=""> </label>
                                                                            </div>
                                                                            <a href="javascript:;" class ="remove">Remove</a>
                                                                        </div> 
                                                                </div>          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                

                <div class= "row" style="margin-top: 10px;">
                    <h5>19. Product of interest for Sales</h5>
                </div>

                <div>
                    <table class="table table-bordered"
                        style="background-color: #ffffff; margin-top: 10px; border: 1px solid #cccccc;">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Annual Target volumes (in MT) </th>
                                <th>% commission expected</th>
                                <th>Credit Terms Desired</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Phenol</td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="annualtarget1" id="annualtarget1"></td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="commissionexpected1" id="commissionexpected1"></td>
                                <td><input type="text" class="form-control inputtext  required required-fields" name="credittearms1" id="credittearms1"></td>
                            </tr>
                            <tr>
                                <td>Aceton</td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="annualtarget2" id="annualtarget2"></td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="commissionexpected2" id="commissionexpected2"></td>
                                <td><input type="text" class="form-control inputtext required required-fields" name="credittearms2" id="credittearms2"></td>
                            </tr>

                            <tr>
                                <td>IPA</td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="annualtarget3" id="annualtarget3"></td>
                                <td><input type="number" class="form-control inputtext required  required-fields" name="commissionexpected3" id="commissionexpected3"></td>
                                <td><input type="text" class="form-control inputtext required required-fields" name="credittearms3" id="credittearms3"></td>
                            </tr>

                            <tr>
                                <td>AWS</td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="annualtarget4" id="annualtarget4"></td>
                                <td><input type="number" class="form-control inputtext required required-fields" name="commissionexpected4" id="commissionexpected4"></td>
                                <td><input type="text" class="form-control inputtext required required-fields" name="credittearms4" id="credittearms4"></td>
                            </tr>

                        </tbody>

                    </table>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4">
                        <h5>20. Willing to work with channel financiers if so desired by DPL</h5>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-2">
                                <input name="willwork" value="yes"  class="required required-fields" type="radio"> Yes
                            </div>
                            <div class="col-lg-2">
                                <input name="willwork" value="no" class="required required-fields" type="radio"> No
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4">
                        <h5>21. Willingness for sales in drums for small customers</h5>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-2">
                                <input name="targetsales" value="yes"  class="required required-fields" type="radio" onclick="myFunction('myDIV6')"> Yes
                            </div>
                            <div class="col-lg-2">
                                <input name="targetsales" value="no"  class="required required-fields" type="radio" onclick="myFunction2('myDIV6')"> No
                            </div>
                        </div>
                    </div>
                

                    <div class=" row parent-targetsales-row" >
                        <div class="row targetsales-row" >
                            <div id="myDIV6" class="row" style="display: none;">
                                <div class="row col-lg-10">
                                    <a href="javascript:;" class ="addNewTag" data-target= "targetsales-row" data-target-parent= "parent-targetsales-row">Add Option</a>
                                        <div class="col-lg-4">
                                            <div>
                                                <label for="">Product Name</label>
                                            </div>
                                            <div>
                                                <input type="text" name="targetprodname[1]" id="targetprodname" data-name= "targetprodname" class="form-control inputtext required-fields" >
                                            </div>
                                        </div>
    
                                        <div class="col-lg-4">
                                            <div>
                                                <label for="">Annual Target volumes (in MT)</label>
                                            </div>
                                            <div>
                                                <input type="number" name="targetannual[1]" id="targetannual" data-name= "targetannual" class="form-control inputtext required-fields">
                                            </div>
                                        </div>    
                                        <div class="col-lg-2 ">
                                            <div>
                                                <label for=""> </label>
                                            </div>
                                            <a href="javascript:;" class ="remove">Remove</a>
                                        </div>     
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 30px; margin-bottom: 80px; text-align: center;">
                    <button type="button" name="save" value="Submit" class="btn btn-success form-save">Save</button>
                    <button type="submit" name="submit" value="Submit" class="btn btn-primary form-submit">Submit</button>
                    <%= link_to "Cancel", index_path , class: "btn btn-danger" %>
                </div>
            

            <p class="result-json-output"></p>
            <div class="col-lg-12 results alert alert-info mt-3" style="word-wrap: break-word;">
            </div>
            
        </div>
    </div>
    <script> 

        function myFunction(ele) {
            $('#'+ele).show();
            // document.getElementById(ele).style.display="block";  
        }

        function myFunction2(ele) {
            $('#'+ele).hide();
            // document.getElementById(ele).style.display="none";            
        }


        $(document).ready(function(){
        console.log("file loaded");
        $("body").on("change",'.file_upload' ,function(){
        element = $(this)
        const formdata = new FormData()
        formdata.append('file', this.files[0])
        $.ajax({
            url: "save_attachment",
            method: "POST",
            data: formdata,
            success: function(response){
                element.next().val(response.url)
                element.next().next().html("<a href="+response.url+">"+response.url.split('/').pop()+"</a>")
            },
            contentType: false,
            processData: false,
        })
    })

        

        <% if @eoi_questionaire.present? %>
            var data = <%= raw @eoi_questionaire.form_data %>
            for( name in data){
                if($("[name='"+name+"']").length >  0 ){
                    element = $("[name='"+name+"']")
                    if(element.attr('type')=='radio'){
                        console.log($("input[name='"+ name +"'][value='"+data[name]+"']"))
                        $("input[name='"+ name +"'][value='"+data[name]+"']").prop("checked", true)
                    }
                else{
                    if(element[0].tagName == "SELECT"){
                        options = element.children()
                        for(var i=0; i< options.length; i++){
                            console.log(data)
                            if($(options[i]).attr('value') == data[name]){
                                $(options[i]).prop("selected", true)
                            }
                        }
                    }else{
                        $("input[name='"+name+"']").val(data[name])
                        if(element.attr('type')=='hidden'){
                            element.next().html("<a href="+data[name]+">"+data[name].split('/').pop()+"</a>")
                        }
                    }
                }
                }
                
                else{
                    index_num = name.match(/(\d+)/)[0]
                    parent = $("[name='"+name.split("[")[0]+"[1]']").parent().parent().parent()
                    clone = parent.clone()
                    inputs = clone.find('.required-fields')
                    console.log(inputs)
                    clone.find("input").val("")
                    clone.find("select").val("")
                    for(var i=0; i<inputs.length; i++){
                        new_name = $(inputs[i]).data('name') +"["+ index_num + "]"
                        $(inputs[i]).attr('name', new_name)
                        console.log(inputs[i].tagName)
                        console.log(new_name)
                        console.log($(inputs[i]).attr('name'))
                        console.log(name)


                        if(name === new_name){
                            if(inputs[i].tagName == 'SELECT'){
                                options = $(inputs[i]).children()                                                                     
                                for(var j= 0; j < options.length; j++){
                                    console.log("inselelected")
                                    if($(options[j]).attr('value') == data[name]){
                                        $(inputs[i]).val(data[name])
                                        $(options[j]).prop('selected', true)
                                    }
                                }

                           }else{
                                $(inputs[i]).val(data[name])
                            }
                        }
                    }
                    $(clone).insertAfter(parent)              
                }
            }
        <% end %>
 
 

})
</script>